@page
@model PagesMovie.Pages.Players.IndexModel

@{
    ViewData["Title"] = "שחקנים";
}

<h1>שחקנים</h1>

<p>
    <a asp-page="Create">צרף שחקן חדש</a>
</p>
<p>
    <a asp-page="Shuffle">חלק לקבוצות</a>
</p>
<div>מספר שחקנים פעילים - @Model.numofii</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].playerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].inGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model.Player)
        {
            @if (item.inGame == 1)
            {
                <tr style="background: #eefdd8;">
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.playerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.inGame)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">ערוך שחקן</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">פרטים</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">מחק</a>
                    </td>
                </tr>
            }
        }

        @foreach (var item in Model.Player)
        {
            @if (item.inGame == 0)
            {
                <tr style="background: #f4d0d0;">
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.playerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.inGame)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">ערוך שחקן</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">פרטים</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">מחק</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
